/* 
  This file contains the CSS of your extension
*/

body {
	color: "#002b36";
	background-color: "#eee8d5";
	min-width: 14em;
}

#toggleTheme {
 	background-color: "#fdf6e3";
    height: 2em;
    width: 10em;
    outline: none;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 2em;
}